<div #permissions class="permissions">
  <hr>
  <h5 class="permissions-header">Permissions</h5>
  <br>
  <!-- START of title row -->
  <div class="row ">
    <div class="col-3">
      <h6>Current User</h6>
    </div>
    <div class="col-3 ">
      <h6>Permissions</h6>
    </div>
    <div class="col-2">
      <h6>Remove/Add</h6>
    </div>
  </div>
  <!-- END of title row -->
  <!-- START of admin -->
  <div *ngIf="role === 'admin'">
    <div *ngFor="let permission of permissions$ | async">
      <div *ngIf="project.Author === permission.User" class="row">
        <div class="col-3">
          <p>{{permission.User | userFullName | async }}</p>
        </div>
        <div class="col-3">
          <p>Dataset Administrator</p>
        </div>
        <div class="col-2">
          <p class="fa fa-ban" style="color:#cdcdcd;"></p>
        </div>
      </div>
      <!-- START of current users -->
      <div *ngIf="project.Author !== permission.User">
        <div class="row">
          <div class="col-3">
            <p>{{permission.User | userFullName | async }}</p>
          </div>
          <div class="col-3">
            <select [(ngModel)]="permission.Role" (change)="updatePermission(permission, $event.target.value)" class="form-control">
              <option *ngFor="let role of roles" [value]="role">{{role}}</option>
            </select>
          </div>
          <div class="col-2">
            <span *ngIf="project.Author !== permission.User" class="fa fa-minus-circle permission-fa" (click)="deletePermission(permission)"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- END of current users -->
    <br>
    <br>
    <!-- START of new users -->
    <div class="row">
      <div class="col-12">
        <h6>Add New Users</h6>
      </div>
    </div>
    <form class='submitForm' [formGroup]="newPermissionForm">
      <div class="form-group">
        <div class="row">
          <div class="col-3">
            <input class="form-control" type="text" formControlName="Email" placeholder="Enter Registered Users Email">
          </div>
          <div class="col-3">
            <select formControlName="Role" class="form-control">
                          <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
                        </select>
          </div>
          <div class="col-2">
            <span (click)="submitPermissions()" class="fa fa-plus-circle permission-fa"></span>
          </div>
        </div>
        <small [hidden]="newPermissionForm.controls.Email.valid" class="text-danger">Please Add Valid Email</small>
      </div>
    </form>
    <small class="text-danger">{{emailError}}</small>
    <!-- END of new users -->
  </div>
  <!-- END of admin ngIf -->
  <!-- START different view if not an admin -->
  <div *ngIf="role !== 'admin'">
    <div class="form-group" *ngFor="let permission of permissions$ | async">
      <div class="row">
        <div class="col-3">
          <p class="detail-users">{{permission.User | userFullName | async }}</p>
        </div>
        <div class="col-3">
          <p>{{permission.Role}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- END different view if not an admin -->
</div>
<hr>