<div #permissions  class="permissions">
  <hr>
  <h5 class="permissions-header">User Permissions</h5>
  <br>
  <div *ngIf="role === 'admin'">
    <div *ngFor="let permission of permissions$ | async">
      <div class="row">
        <div class="col-12">
          <h6 *ngIf="project.Author === permission.User">Dataset Administrator:&nbsp;<span style="font-style:italic;">{{permission.User | userFullName | async }}</span></h6>
          <span *ngIf="project.Author !== permission.User">
            <span class="detail-users">{{permission.User | userFullName | async }}</span>
            <select [(ngModel)]="permission.Role" (change)="updatePermission(permission, $event.target.value)">
              <option *ngFor="let role of roles" [value]="role">{{role}}</option>
            </select>
          </span>
          <span *ngIf="project.Author !== permission.User" type="button" class="btn glyphicon glyphicon-minus-sign" (click)="deletePermission(permission)"></span>
        </div>
      </div>
    </div> 
    <form class='submitForm' [formGroup]="newPermissionForm">
      <div class="form-group">
          <table>
            <tbody>
              <tr>
                <td><input class="form-control" type="text" formControlName="Email" placeholder="Enter Collaborator's Institutional Email"></td>
                <td><select formControlName="Role">
                          <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
                        </select></td>
                <td><button (click)="submitPermissions()" class="btn glyphicon glyphicon-plus-sign detail-submission-btn"></button></td>
                <td><small [hidden]="newPermissionForm.controls.Email.valid" class="text-danger">Please Add Valid Email</small></td>
              </tr>
            </tbody>
          </table>
      </div>
    </form>
    <small  class="text-danger">{{emailError}}</small>
  </div> 
  <div *ngIf="role !== 'admin'">
    <table>
      <tbody class="form-group row" *ngFor="let permission of permissions$ | async">
        <tr>
           <td><span class="detail-users">{{permission.User | userFullName | async }}</span></td>
           <td><span>{{permission.Role}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
