// import global variable
@import '/../index';

.permissions-header {
  @extend .header-primary;
  margin-bottom: 0px;
}

.permissions-fa {
    margin-top:10px;
    color: $color-onco-blue;
    &:hover {
        color:$color-link;;
    }
}
.permission-fa {
    margin-top:10px;
    color: $color-onco-blue;
    &:hover {
        color:$color-link;;
    }

}


  
