// import global variable
@import '/../index';

.dashboard {
    font-family: $font-family;
}
.dashboard-header{
  @extend .header-primary;
 }

 .dashboard-title {
     padding-bottom:10px;
     font-size: 19px; 
     font-weight: 300; 
     margin-top:0px;
 }

 .dashboard-lists {
     padding-bottom: 5px;
 }

 .dashboard-description {
     margin-top:10px;
     margin-bottom: 25px;
 }

.dashboard{
    .btn {
        width: 110px;
        margin-right: 5px;
        // margin-bottom: 10px;
        float: right;
    }
}

.dashboard-blue-gradient {
 background: linear-gradient(135deg,#039BE5 2%,#042a68);
}
p.card-text {
    margin: 10px;
    font-size: 14px;
}


