<div class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h5 class="dashboard-header">Datasets Dashboard</h5>
            </div>
            <div class="col-6">
                <button class='btn btn-primary' (click)='add()'><span class="fa fa-plus"></span> &nbsp; Dataset</button>
            </div>
        </div>
        <h4 *ngIf= "!projects || (projects.length === 0)" class="dashboard-header">Please click <strong>+ Datasets</strong> to add new project.</h4>
        
        <div class="mb-5" *ngFor="let project of projects">
            <!--START card-->
            <div class="card card-cascade ">
                <!--START card header-->
                <div class="view gradient-card-header dashboard-blue-gradient">
                    <h5  class="dashboard-title text-center">{{project.Name}}</h5>
                </div>
                <!--END card header-->
                <!--START card body-->
                <div class="card-body ">
                    <p class="card-text">
                        {{project.Description}}
                    </p>
                </div>
                <!--END card body-->
                <!-- START card footer -->
                <div class="dashboard-dotted card-footer">
                    <div class="row">
                        <div class="col-4 text-left">
                            <p class="text-left mt-2">Created {{project.Date | DateFormatter: 'WithTime'}}</p>
                        </div>
                        <div class="col-8 text right">
                            <button (click)="delete(project)" class=" btn btn-primary ">Delete</button>
                            <button type="button" [class.selected]="project === selectedProject" (click)="onSelect(project)" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
                <!-- END card footer -->
            </div>
            <!--END card-->
        </div>
    </div>
</div>
