// import global variable
@import '../vars';
.dashboard-header {
    @extend .header-primary;
}

.dashboard-title {
    color: $color-white;
    font-weight: $font-weight;
    margin-top: 10px;
    font-size: 22px;
    padding: 12px;
}

.dashboard {
    .btn {
        width: 110px;
        margin-right: 5px;
        float: right;
    }
}

.dashboard-blue-gradient {
    background: linear-gradient(135deg, #039BE5 2%, #042a68);
}

.dashboard-dotted {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
}