<div class="landing">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="landing-form-login">
                    <h4 class="landing-header">Oncoscape Data Portal</h4>
                    <div class="landing-wrapper">
                        <div class="btn-group">
                            <app-login></app-login>
                            <div class="btn landing-button">Register</div>
                        </div>
                        <div class="col-xs-12">
                            <p class="landing-center-format"><a class="landing-help">First Time User?&nbsp;</a> | <a class="landing-help">&nbsp;Support</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>