<div class="landing">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-login">
                    <h4 class="landing-header">Oncoscape Data Portal</h4>
                    <div class="wrapper">
                        <span class="group-btn">
                            <div class="form-group landing-center-format">    
                                <app-login></app-login>
                            </div>
                        </span>
            <p class="landing-center-format"><a class="landing-help">First Time User?</a> | <a class="landing-help">Support</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>