// import global variable
@import '../vars'; 

// full page wrapper
.landing {
    margin-top:225px;
}

.landing-title {
    font-weight: $font-weight;
    letter-spacing: 10px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: $color-onco-blue;
}

.landing-button {
    @extend .btn-primary;
    margin-top: 40px;
    margin-bottom: 20px;
}

a.landing-link {
    @extend .link-primary;
}