// import global variable
@import '/../index';
.landing {
    padding-top: 150px;
    font-weight: $font-weight;
}

.landing-title {
    font-weight: 400;
    letter-spacing: 25px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: $color-onco-blue;
}

.landing-button {
    background: $color-onco-blue;
    color: #FFF;
    border-radius: 0;
    padding: 10px;
    width: 120px;
    height: 40px;
    line-height: 20px;
    margin: 3px;
}

.landing-header {
    letter-spacing: 2px;
    color: $color-onco-blue;
    font-weight: $font-weight;
    font-size: 30px;
    padding-top: 50px;
    border: 0 solid #fff;
    border-bottom-width: 2px;
    padding-bottom: 15px;
    text-align: center;
}

.landing-help {
    text-decoration: none;
    color: $color-onco-blue;
    letter-spacing: 1px;
    margin-top:10px;
}

.landing-form-login {
    background-color: #F0F0F0;
    padding-top: 60px;
    padding-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
    margin-top: 60px;
}

.landing-wrapper {
    text-align: center;
}
.landing-center-format{
    margin-top: 10px;
}