// import global variable
@import '/../index';

.navbar {
    border: none;
    box-shadow: 0 2px 3px $color-gray;
    min-height: $navbar-height;
    margin-bottom: 18px;
    font-family: $font-family;
    font-weight: $font-weight;
}

.navbar-logo-img {
    position: absolute;
    left: 0px;
    top: 10px;
    max-height: 40px;
    image-rendering: crisp-edges;
}
.navbar-logo-text  {
    position: absolute;
    left: 45px;
    top: 0px;
    // font-size: 18px;
    line-height: 60px;
    vertical-align: middle;
    color: $color-white;
    letter-spacing: 6px;
    text-transform: uppercase;
  
}
.navbar-inverse {
    border: none;
    background-color: $color-onco-blue;
}
.navbar-inverse .navbar-toggle {
    border: none 
}
.header {
    position: absolute;
    width: 100%;    
}

.nav {
    li {
        a, :single-button {
            font-size: 14px;
                margin-top: 5px;
            span {
                padding-right: 5px;
            }
        }
    }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #0383c2;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    color: $color-white;
}



