// import global variable
@import '/../index';
// @import '~ng2-slim-loading-bar/bundles/style.css';

//full page wrapper
.navbar {
    border: none;
    box-shadow: 0 2px 3px $color-gray;
    // font-family: $font-family;
    // font-weight: $font-weight;
}

.navbar-logo-img {
    max-height: 40px;
    image-rendering: crisp-edges;
    margin-right: 10px;
    margin-left: 60px;
}

.navbar-logo-text {
    font-size: 18px;
    line-height: 40px;
    vertical-align: middle;
    color: $color-white;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.navbar-inverse {
    border: none;
    background-color: $color-onco-blue;
}

.navbar-inverse .navbar-toggle {
    border: none
}

.navbar-items {
    padding-right: 5px;
    color: #fff;
    // margin-top: 12px;
    font-size: 14px;
    cursor: pointer;
    span {
        margin-right: 5px;
        color: #fff;
    }
}

// removing bootstrap carat over photo
.dropdown-toggle::after {
    display: none
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #0383c2;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: $color-white;
}

.navbar-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 60px;
    cursor: pointer;
}


.dropdown-item {
    font-size: 12px;
}

.dropdown-menu {
    min-width: 8rem;
}
.nav-link {
    display: inline;
}


