<div id="header" class="header">
  <nav class="navbar navbar-toggleable-sm navbar-inverse bg-faded fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img alt='Brand' src='../assets/images/logo-white.png' class='navbar-logo-img d-inline-block align-top '>
      <span class="navbar-logo-text">Oncoscape</span>
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav float-left">
        <a class="navbar-items nav-item nav-link active " *ngIf='user' (click)='goDashboard()'><span class="fa fa-dashboard"></span>Dashboard</a>
        <a class="navbar-items nav-item nav-link active " *ngIf='user' (click)='goHelp()'><span class="fa fa-question-circle"></span>Help</a>        
        <a class="nav-item nav-link navbar-items active" href="http://resources.sttrcancer.org/oncoscape-contact"><span class="fa fa-comments"></span>Feedback</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img *ngIf='user'  class="navbar-pic" src={{user.thumbnail}} alt="Smiley face"></a>
          <div *ngIf='user' class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="toProfile()">Account</a>
            <div class="dropdown-item">
              <a *ngIf='!user'  (click)="googleLogin()">Login</a>
              <a *ngIf='user' (click)="googleLogOut()">Sign out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>