// import global variable
@import '/../index';

.landing {
    padding-top: 150px;
}
.landing-title {
    font-weight: 400;
    letter-spacing: 25px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: $color-onco-blue;

}
.landing-button {
    background: $color-onco-blue;
    color: #FFF;
    border-radius: 0;
    padding: 10px;
    width: 120px;
    height: 40px;
    line-height: 20px;
    margin: 3px;
}
