<div class="detail">
  <div *ngIf="project">
    <div class="container">
      <div class="row ">
        <div class="col-12 ">
          <h5 class="detail-header">Dataset Details</h5>
          
          <form>
            <div class="row ">
              <div class="col-10">
                <div class="form-group ">
                  <label class="detail-label">Dataset Name<span class="text-danger">*</span></label>
                  <small class="text-danger" *ngIf="!errorMessage?.Name.pass"><br/>{{errorMessage?.Name.msg}}</small>
                  <input [(ngModel)]="project.Name" name="projectName" class="form-control" placeholder="Dataset Name">
                </div>
                <div class="form-group">
                  <label class="detail-label ">Description</label>
                  <textarea [(ngModel)]="project.Description" name="projectDescription" placeholder="Enter Dataset Description" class="form-control" rows="10"></textarea>
                </div>
              </div>
            </div>
            <!-- END project details -->
            <!-- START annotations -->
            <div #annotations>
              <div *ngIf='project.Annotations.length > 0'>
                <div class="row ">
                  <div class="col-3">
                    <h6>Dataset Annotation<span class="text-warning">*</span></h6>
                  </div>
                  <div class="col-3 ">
                    <h6>Key Value<span class="text-warning">*</span></h6>
                  </div>
                  <div class="col-2">
                    <h6>Remove/Add</h6>
                  </div>
                </div>
                <!-- START saved annotation values -->
                <div *ngFor="let annot of project.Annotations; let i = index">
                  <div class="row">
                    <div class="col-3">
                      <p>{{annot.key}}</p>
                    </div>
                    <div class="col-3 col-push-3 ">
                      <p>{{annot.value}}</p>
                    </div>
                    <div class="col-2">
                      <div class="fa fa-minus-circle detail-fa" (click)="project.Annotations.splice(i,1)"></div>
                    </div>
                  </div>
                </div>
                <br>
              </div>
              <!-- START add new annotations -->
              <div class="row">
                <div class="col-12">
                  <h6>Add New Annotation</h6>
                </div>
              </div>
              <form class='submitForm' [formGroup]="newAnnotationForm" (ngSubmit)="submitAnnotations()">
                <div class="row ">
                  <div class="col-3">
                    <input class="form-control" type="text" formControlName="key" placeholder="e.g. Sample Size">
                    <small *ngIf="!newAnnotationForm.valid" class="text-warning">Key is required</small>
                  </div>
                  <div class="col-3">
                    <input class="form-control" type="text" formControlName="value" placeholder="e.g. 110">
                    <small *ngIf="!newAnnotationForm.valid" class="text-warning">Value is required</small>
                  </div>
                  <div class="col-2">
                    <div class="fa fa-plus-circle detail-fa" (click)="submitAnnotations()"></div>
                  </div>
                </div>
              </form>
            </div>
          </form>
          <!-- END annotations -->
          <!-- START permissions -->
          <div *ngIf="permission">
            <app-permissions [role]="permission.Role" [project]="project"></app-permissions>
            <div *ngIf="permission.Role==='admin'" class="well form-group">
              <div clas="col-12">
                <h5 class="detail-header">Regulatory Infomation<span class="text-danger">*</span></h5>
              </div>
              <div>
                <input type="checkbox" [(ngModel)]="project.PHI">&nbsp;I certify this dataset does not contain any <a href="http://www.hipaa.com/hipaa-protected-health-information-what-does-phi-include/" target="_blank">Personal Health Information (PHI)</a><span class="text-danger">*</span><br />
                <small class="text-danger" *ngIf="!errorMessage.PHI.pass">{{errorMessage.PHI.msg}}</small>
              </div>
              <!-- START human yes/no -->
              <div class="mt-3">
                <p>Is this data derived from Human Subjects?</p>
              </div>  
              <div class="row">
                <div class="col-1">
                  <input type="radio" value=true name="human" [(ngModel)]="project.DataCompliance.HumanStudy" >&nbsp;Yes
                </div>
                <div class="col-1">
                  <input type="radio" value=false name="non-human" [(ngModel)]="project.DataCompliance.HumanStudy" >&nbsp;No
                </div>
              </div>
              <!-- END human yes/no -->
              <!-- START appropriate Documentation -->
              <div *ngIf="project.DataCompliance.HumanStudy == 'true'">
                <br>
                <div>Please provide appropriate protocol approval documentation </div>
                <small class="text-danger" *ngIf="!errorMessage.Human.pass">{{errorMessage.Human.msg}}</small>
                <br>
                <div class="row">
                  <div class="col-3">
                    <input type="radio" value="IRB" name="humanStudy" [(ngModel)]="project.DataCompliance.HumanStudy">&nbsp;IRB
                    <div *ngIf="project.DataCompliance.HumanStudy === 'IRB'">
                      <label>Enter IRB Number</label>
                      <input name="IRBNumber" class="form-control" [(ngModel)]="project.DataCompliance.IRBNumber" rows="1">
                    </div>
                  </div>
                  <div class="col-3">
                    <input type="radio" value="IEC" name="humanStudy" [(ngModel)]="project.DataCompliance.HumanStudy">&nbsp;IEC

                    <div *ngIf="project.DataCompliance.HumanStudy  === 'IEC'">
                      <label>Enter IEC Number </label>
                      <input name="IECNumber" class="form-control" [(ngModel)]="project.DataCompliance.IECNumber" rows="1">
                    </div>
                  </div>
                  <div class="col-3">
                    <input type="radio" value="ExemptWithWaiver" name="humanStudy" [(ngModel)]="project.DataCompliance.HumanStudy">&nbsp;Exempt
                    with Waiver
                    <div *ngIf="project.DataCompliance.HumanStudy  === 'ExemptWithWaiver'">
                      <label>Enter Waiver Number </label>
                      <input name="exempted" class="form-control" [(ngModel)]="project.DataCompliance.Waiver" rows="1">
                    </div>
                  </div>
                  <div class="col-3">
                    <input type="radio" value="Exempt" name="humanStudy" [(ngModel)]="project.DataCompliance.HumanStudy">&nbsp;Exempt
                  </div>
                </div>
              </div>
              <!-- END appropriate documentation -->
              <hr>
            </div>
            <app-files [project]="project" [user]="user" [permission]="permission" [isCompliant]="isCompliant" (uploaded)="fileUpdates($event)"></app-files>
          </div>
          <!-- END permissions -->
        </div>
      </div>
    </div>
  </div>
</div>