<div class="detail">
  <div *ngIf="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h5 class="detail-header">Dataset Detail</h5>
          <small class="text-danger" *ngIf="errorMessage.Name!==''">{{errorMessage.Name}}</small>
          <label [(ngModel)]="project.Name" name="projectName" class="pull-right">{{statusMsg}}</label>
          <form>
            <div class="form-group">
              <label>Dataset Name<span class="text-danger">*</span></label>
              <input [(ngModel)]="project.Name" name="projectName" class="form-control" placeholder="Dataset Name">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea [(ngModel)]="project.Description" name="projectDescription" class="form-control" rows="5"></textarea>
            </div>
            <div #annotations>
              <label>Dataset Annotations</label>
              <div *ngIf='project.Annotations.length > 0'>
                <table>
                  <thead>
                    <tr>
                      <td>Key<span class="text-danger">*</span></td>
                      <td>Value<span class="text-danger">*</span></td>
                      <td>Remove/Add</td>
                    </tr>
                  </thead>
                  <tbody *ngFor="let annot of project.Annotations; let i = index">
                    <tr>
                      <td><input [(ngModel)]="annot.key" placeholder="Sample Size" class="form-control"></td>
                      <td><input [(ngModel)]="annot.value" placeholder="110" class="form-control"></td>
                      <td><span type="button" class="fa fa-minus-circle" (click)="project.Annotations.splice(i,1)"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <form class='submitForm' [formGroup]="newAnnotationForm" (ngSubmit)="submitAnnotations()">
                <div class="form-group">
                  <table>
                    <tbody>
                      <tr>
                        <td><input class="form-control" type="text" formControlName="key" placeholder="Sample Size"></td>
                        <td><input class="form-control" type="text" formControlName="value" placeholder="110"></td>
                        <td><button type="submit" class="fa fa-plus-circle detail-submission-btn" [disabled]="newAnnotationForm.invalid"></button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>








            <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
              <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
            </div>



            <fieldset class="form-group">
              <legend>Radio buttons</legend>
              <div class="form-check">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
              </label>
              </div>




              <div class="form-check">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else and selecting it will deselect option one
              </label>
              </div>
              <div class="form-check disabled">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                Option three is disabled
              </label>
              </div>
            </fieldset>
            <div class="form-check">
              <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Check me out
            </label>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>









<!--         
        
        <h5 class="detail-header">Dataset Detail</h5>
        <small class="text-danger" *ngIf="errorMessage.Name!==''">{{errorMessage.Name}}</small>
        <label class="pull-right">{{statusMsg}}</label> 
        <div class="form-group">
          <label>Dataset Name<span class="text-danger">*</span></label>
          <input [(ngModel)]="project.Name" placeholder="Dataset Name" class="form-control" rows="1"> 
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea [(ngModel)]="project.Description" placeholder="Description" class="form-control" rows="4"></textarea>
        </div>
        <div #annotations>
          <label>Dataset Annotations</label>
          <div *ngIf='project.Annotations.length > 0'>
            <table>
              <thead>
                <tr>
                  <td>Key<span class="text-danger">*</span></td>
                  <td>Value<span class="text-danger">*</span></td>
                  <td>Remove/Add</td>
                </tr>
              </thead>
              <tbody *ngFor="let annot of project.Annotations; let i = index">
                <tr>
                  <td><input [(ngModel)]="annot.key" placeholder="Sample Size" class="form-control"></td>
                  <td><input [(ngModel)]="annot.value" placeholder="110" class="form-control"></td>
                  <td><span type="button" class="btn glyphicon glyphicon-minus-sign" (click)="project.Annotations.splice(i,1)"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <form class='submitForm' [formGroup]="newAnnotationForm" (ngSubmit)="submitAnnotations()">
            <div class="form-group">
              <table>
                <tbody>  
                  <tr>
                    <td><input class="form-control" type="text" formControlName="key" placeholder="Sample Size"></td>
                    <td><input class="form-control" type="text" formControlName="value" placeholder="110"></td>
                    <td><button type="submit" class="btn glyphicon glyphicon-plus-sign detail-submission-btn" [disabled]="newAnnotationForm.invalid"></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
        
        <div *ngIf="permission">
        <app-permissions [role]="permission.Role" [project]="project" ></app-permissions>
        <div class="well form-group">
            <label>Regulatory Infomation<span class="text-danger">*</span></label>
            <p>Date Derived from Human Subjects?</p>
            <small class="text-danger" *ngIf="errorMessage.DataCompliance !==''">{{errorMessage.DataCompliance}}</small>
            <td>
              <tr>
                <input type="radio" value="human" name="human" [(ngModel)]="project.DataCompliance.ComplianceOption" (change)="collectDataCompliance('human')">Yes
                <input type="radio" value="non-human" name="non-human" [(ngModel)]="project.DataCompliance.ComplianceOption" (change)="collectDataCompliance('non-human')">No
              </tr>
              </td>
              <div *ngIf="project.DataCompliance.ComplianceOption === 'human'">
                
                <tr><input type="radio" value="IRBChecked" name="humanStudy" [(ngModel)]="project.DataCompliance.HumanStudy">IRB</tr>
                <tr><input type="radio" value="IECChecked"  name="humanStudy" [(ngModel)]="project.DataCompliance.HumanStudy">IEC</tr>
                <tr><input type="radio"  value="ExemptedCheckedWithWaiver" name="humanStudy" [(ngModel)]="project.DataCompliance.HumanStudy">Exempted With Waiver Document</tr>
                <tr><input type="radio"  value="ExemptedChecked" name="humanStudy" [(ngModel)]="project.DataCompliance.HumanStudy">Exempted</tr>
                <td>
                  <div *ngIf="project.DataCompliance.HumanStudy === 'IRBChecked'">
                    <label>IRB Number: </label>
                    <input name="IRBNumber" [(ngModel)]="project.DataCompliance.IRBNumber" rows="1"> 
                  </div>
                  <div *ngIf="project.DataCompliance.HumanStudy  === 'IECChecked'">
                    <label>IEC Number: </label>
                    <input name="IECNumber" [(ngModel)]="project.DataCompliance.IECNumber" rows="1" > 
                  </div>
                  <div *ngIf="project.DataCompliance.HumanStudy  === 'ExemptedCheckedWithWaiver'">
                    <label>Waiver Number: </label>
                    <input name="exempted" [(ngModel)]="project.DataCompliance.Waiver" rows="1"> 
                  </div>
                  
                </td>
              </div>
              <! <tr>
                <input type="radio" value="huirb" name="humanStudyWithIRB" [(ngModel)]="project.DataCompliance.ComplianceOption" (click)="collectDataCompliance('huirb')" [disabled]="project.DataCompliance.IRBNumber===''">
                A.1 If data are derieved from humans and IRB has been approved.
                <input [(ngModel)]="project.DataCompliance.IRBNumber" placeholder="IRB#" rows="1">
              </tr>
              <tr>
                <input type="radio" value="huiec" name="humanStudyWithIEC" [(ngModel)]="project.DataCompliance.ComplianceOption" (click)="collectDataCompliance('huiec')" [disabled]="project.DataCompliance.IECNumber===''">
                A.2 If data are derieved from humans and IEC number is ready. 
                <input [(ngModel)]="project.DataCompliance.IECNumber" placeholder="IEC#" rows="1">
              </tr> -->
<!--             
        </div>
        <app-files *ngIf="permission.Role==='admin' || permission.Role==='read-write'" [project]="project" (uploaded)="fileUpdates($event)"></app-files>
        </div>
        <div class="form-group">
          <label>Date Created {{project.Date | DateFormatter: 'WithTime'}}</label>
        </div>  -->