// import global variable
@import '/../index';

.detail {
    padding-top: 0px;
    position: absolute; 
}

.detail-header {
    @extend .header-primary;
    margin-bottom:25px;
}

.detail-label {
    font-weight:400;
}
.detail-fa {
  @extend .primary-fa;

}






  
