//  SCSS Variables
@import url(https://fonts.googleapis.com/css?family=Lato);
$color-gray-light: #EAEAEA;
$color-gray: #bbb;
$color-black: #000;
$color-white: #FFFFFF;
$color-blue-light: #c1e9fe;
$color-onco-blue: #039BE5;
$color-link:#03ADFF;
$box-shaddow: 0 2px 3px #bbb;
$input-border-radius: 0;
$border-radius-base: 0;
$navbar-height: 60px;
$font-family: 'Lato';
$font-weight: 300;
$font-size: 14px;
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
$input-border: $color-gray-light;
$btn-default-border: $color-gray-light;
$btn-primary-bg: $color-onco-blue;
$navbar-inverse-bg:$color-onco-blue;
$navbar-inverse-link-color: $color-white;
$navbar-inverse-brand-hover-bg: $color-onco-blue;
$navbar-inverse-link-active-bg: $color-onco-blue;
$navbar-inverse-link-hover-bg: $color-onco-blue;
$navbar-inverse-brand-color: $color-white;
$navbar-inverse-brand-hover-color: $color-white;
.btn-primary {
    color: $color-white;
    background: $color-onco-blue;
    text-decoration: none;
    border-radius: 0;
    padding: 10px;
    width: 120px;
    height: 40px;
    line-height: 20px;
    margin-right: 10px;
    font-weight: $font-weight;
}

.link-primary {
    text-decoration: none;
    color: $color-onco-blue;
    font-size: 13px;
    cursor: pointer;
}

.header-primary {
    font-weight: $font-weight;
    color: $color-onco-blue;
    margin-bottom: 50px;
    margin-top: 0;
    letter-spacing: 0px;
}

.primary-fa {
    margin-top: 10px; 
    color: $color-onco-blue;
    &:hover {
        color: $color-link;
        ;
    }
}

// Bootstrap needs to be placed in index.scss for overides
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: $color-white;
    text-decoration: none;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: $color-white;
    border-top: 1px solid lightgray;
}

p.card-text {
    margin: 12px;
    font-size: 14px;
}

.form-control {
    font-weight: 300;
}