<div class="user-detail">
  <div *ngIf="user">
    <div class="container">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">First Name </label>
        <div class="col-sm-10">
          <input class="form-control" [(ngModel)]="user.FirstName" placeholder="First Name" />
          <p *ngIf="error.fn !==''"><small class="text-danger">{{error.fn}}</small></p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Last Name </label>
        <div class="col-sm-10">
          <input class="form-control" [(ngModel)]="user.LastName" placeholder="Last Name" />
          <p *ngIf="error.fn !==''"><small class="text-danger">{{error.fn}}</small></p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input [(ngModel)]="user.Email" class="form-control" placeholder="Email">
          <p *ngIf="error.email.empty !=='' || error.email.format !=='' || error.email.duplicate !==''">
            <small class="text-danger">{{error.email.empty}}{{error.email.format}}{{error.email.duplicate}}
                    </small></p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Institution</label>
        <div class="col-sm-10">
          <input class="form-control" [(ngModel)]="user.Institution" placeholder="Institution" />
          <p *ngIf="error.fn !==''"><small class="text-danger">{{error.fn}}</small></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 user-memberDate">
          <label>Member since </label>
          <span>{{user.Date | DateFormatter : 'Date'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>