<h5 class="file-header">Upload Dataset</h5>
<p>Please certify any uploaded data <strong>does NOT contain PHI</strong> and provide reference to <strong>protocol documentation</strong> for any data derived from Human Subjects.</p>

<div class="row">  
  <div class="col-12">
    <div *ngIf="permission.Role==='admin' || permission.Role==='read-write'">
      <div id="fileUploadForm" class="form-group" [class.disabled]="!isCompliant">
        <label class=" btn-primary" for="exampleInputFile">&nbsp;&nbsp; Choose File
        <input #fileInput type="file"  name="single" id="exampleInputFile" aria-describedby="fileHelp" ng2FileSelect
          [uploader]="uploader"  hidden [disabled]="!isCompliant"/>
        </label>
      </div>
    </div>
    
    <div *ngIf="project.File?.size !== 0">
      <hr>
      <h5 class="file-header">File Summary</h5>
      
      <div class="row"><div class="col-12">
        <div ><h6>{{project.File.filename}}<span style="padding:5px">  ({{project.File.timestamp}})  </span>
          <span *ngIf="permission.Role==='admin' || permission.Role==='read-write'" (click)="removeAllFiles()" class="fa fa-minus-circle files-fa"></span>
          </h6></div>
      </div></div>
      
    </div>

    <br/>
    <div *ngIf="upload.complete">
      <div class="row">
        <div class="col-3"><h6>Sheet</h6></div>
        <div class="col-3"><h6>Type</h6></div>
        <div class="col-3"><h6>Subjects</h6></div>
        <div class="col-3"><h6>Markers</h6></div>
      </div>

      <div *ngFor="let sheet of upload.collections">
        <div class="row">
          <div class="col-3"><p>{{sheet.name}}</p></div>
          <div class="col-3"><p>{{sheet.type}}</p></div>
          <div class="col-3"><p *ngIf="sheet.s">{{sheet.s.length}}</p></div>
          <div class="col-3"><p *ngIf="sheet.m">{{sheet.m.length}}</p></div>
        </div>
      </div>

      
    </div>

    

    <br>
  </div>
  