<h5 class="file-header">Upload Dataset</h5>
<br>
<div class="row">
  <div class="col-12">
    <div *ngIf="project.File">
      <!-- <label>Uploaded Files</label> -->
      <!-- <button *ngIf="permission.Role==='admin' || permission.Role==='read-write'" type="button" class="btn btn-danger btn-xs" (click)="removeAllFiles()">
          <span class="fa fa-minus-circle"></span>Remove
      </button> -->
      <div class="row">
        <div class="col-3">
          <h6>File Name</h6>
        </div>
        <div class="col-3">
          <h6>Size</h6>
        </div>
        <div class="col-3">
          <h6>Timestamp</h6>
        </div>
        <div class="col-2">
            <h6>Remove</h6>
          </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p>{{project.File.filename}}</p>
        </div>
        <div class="col-3">
          <p>{{project.File.size}}</p>
        </div>
        <div class="col-3">
          <p>{{project.File.timestamp}}</p>
        </div>
        <div class="col-2">
            <div *ngIf="permission.Role==='admin' || permission.Role==='read-write'"  (click)="removeAllFiles()" class="fa fa-minus-circle files-fa"></div>
      </div>
    </div>
    </div>


    <div class="col-12" *ngIf="hasFiles">
      <label>File summary</label>
      <table>
        <thead>
          <td>Clinical Sheet Name</td>
          <td>Patient Size</td>
          <td>Sample Size</td>
        </thead>
        <tbody class="form-group row" *ngFor="let sum of uploadStatus.uploadSummaryClinical">
          <tr>
            <td><span>{{sum.sheet}}</span></td>
            <td><span *ngIf="sum.patients">{{sum.patients.length}}</span></td>
            <td><span *ngIf="sum.samples">{{sum.samples.length}}</span></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <table>
        <thead>
          <td>Molecular Sheet Name</td>
          <td>Sample Size</td>
          <td>Biomarker Size</td>
        </thead>
        <tbody class="form-group row" *ngFor="let sum of uploadStatus.uploadSummaryMolecular">
          <tr>
            <td><span>{{sum.sheet}}</span></td>
            <td><span *ngIf="sum.samples">{{sum.samples.length}}</span></td>
            <td><span *ngIf="sum.markers">{{sum.markers.length}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="permission.Role==='admin' || permission.Role==='read-write'" >
      <label for="exampleInputFile"></label>
      <input #fileInput type="file" class="form-control-file" name="single" id="exampleInputFile" aria-describedby="fileHelp"
        ng2FileSelect [uploader]="uploader" (change)="updateStatus(uploader.queue[0])" />
    </div>
    <br>
    <br>
  </div>
</div>