// import global variable
@import '/../index';
.file-header {
    @extend .header-primary;
    margin-bottom: 0px;
}

.files-fa {
    @extend .primary-fa;
}

[hidden] {
    display: none !important;
}
.btn-primary{
    cursor: pointer;
}
.disabled label{
    background-color: rgb(201, 201, 201);
    color: white ;
    cursor: not-allowed;
}

