<div class="register">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="detail-header">For the first time user, please read below legal agreement to register.</h5>
                <p>In consideration of my access to and use of this site (“Oncoscape”), maintained by Fred Hutchinson Cancer
                    Research Center (“Fred Hutch”), I agree to the following terms and conditions:
                </p>
                <ol>
                    <li>I agree to only use de-identified patient or research subject data in Oncoscape, as specified by NIH’s
                        Genomic Data Sharing policy criteria: the identifiers of data subjects cannot be readily ascertained
                        or otherwise associated with the data by the repository staff or secondary data users (45 CFR46 .102(f));
                        the 18 identifiers enumerated at 45 CFR 164.514(b)(2) (the HIPAA Privacy Rule) are removed; and the
                        submitting institution has no actual knowledge that the remaining information could be used alone
                        or in combination with other information to identify the subject of the data.
                    </li>
                    <li>I agree to comply with all applicable laws and regulations regarding the confidentiality of individually
                        identifiable health information, including, without limitation, the Health Insurance Portability
                        and Accountability Act (“HIPAA”) (See: 45 CFR Parts 160, 162 and 164) and Washington State’s requirements
                        (See: RCW 70.02 and RCW 42.48) and the regulations of the Office of Human Research Protection (45
                        CFR Part 46).
                    </li>
                    <li>I understand and acknowledge that the public Oncoscape website is free for academic, nonprofit, and
                        personal use. Any use of the public browser requires credits to the browser site.
                    </li>
                    <li>I understand and acknowledge that links to other sites and access to external tools and systems are
                        provided only for convenience and Fred Hutch is not responsible for the content or accuracy of external
                        resources.
                    </li>
                    <li>I understand and acknowledge that the data and tools displayed in Oncoscape are under the same condition
                        of use as specified at the original import site.
                    </li>
                    <li>I agree to indemnify, defend, and hold Fred Hutch harmless from any causes of action, claims, damages,
                        or liabilities arising or alleged to arise from my failure to comply with any of the provisions of
                        this site. Neither Fred Hutch nor those contributing to Oncoscape shall be liable for any losses
                        or damage that may result from its use.
                    </li>
                    <li>I understand and acknowledge that Fred Hutch reserves the right to make changes to this website and
                        associated resources at any time without notice.
                    </li>
                    <li>I agree to use Oncoscape only for lawful purposes. Fred Hutch reserves the right to access data without
                        notification from time to time for the purposes of ensuring lawful and agreed use.
                    </li>
                    <li>I understand and acknowledge that I am responsible for all activities that occur under my account
                        and agree to not disclose any computer password or otherwise provide access to confidential information
                        to any unauthorized person. I may be held liable for any losses incurred by Oncoscape or another
                        party due to someone else using my account. I may not use anyone else’s account at any time.
                    </li>
                    <li>As an Oncoscape user, I understand and acknowledge that I am solely responsible for any information
                        that I display, generate, transmit or transfer while using Oncoscape and for the consequences of
                        such actions. Oncoscape usage is recorded by Google Analytics. All queries are automatically logged
                        by the server. Temporary files containing the results of queries may persist on the server until
                        removed.
                    </li>
                    <li>I agree to not remove any confidential information from Fred Hutch systems unless authorized to do
                        sI also agree to maintain appropriate information security procedures to ensure that confidential
                        information remains confidential to the extent required.
                    </li>
                    <li>I understand that this site is not intended to assist with the practice medicine or provide specific
                        medical advice, and should not be used to make a diagnosis or to replace or overrule a qualified
                        health care provider's judgment.
                    </li>
                    <li>By choosing to use Oncoscape, I acknowledge and agree to these Terms and Conditions. Fred Hutch reserves
                        the right to modify these terms and any related policies
                    </li>
                    <li>I understand that a violation of these terms may result in termination of my permission to have access
                        to and use Oncoscape.
                    </li>
                    <li>My access to and use of this site, and these terms and conditions are governed by the laws of the
                        State of Washington and applicable U.S. federal laws. I consent to the jurisdiction and venue of
                        the state and federal courts located within Washington State and agree that any action related to
                        my access to or use of this site and these terms and conditions must be brought in a state or federal
                        court located within Washington State.
                    </li>
                </ol>


                <form [formGroup]="newUserForm">
                    <label>
                        <span class="text-danger">*</span>All Fields Required</label>

                    <div class="form-group ">
                        <div class="col-6">
                            <input type="text" class="form-control" id="firstName" formControlName="FirstName" placeholder="First Name">
                            <small class="text-danger" *ngIf="error.fn!==''">{{error.fn}}</small>
                        </div>  
                    </div>
                    <div class="form-group ">
                        <div class="col-6">
                            <input type="text" class="form-control" id="lastName" formControlName="LastName" placeholder="Last Name">
                            <small class="text-danger" *ngIf="error.ln!==''">{{error.ln}}</small>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-6">
                            <input type="text" class="form-control" id="Email" formControlName="Email" placeholder="Institutional Email">
                            <p *ngIf="error.email.empty !=='' || error.email.format !=='' || error.email.duplicate !==''">
                                <small class="text-danger">{{error.email.empty}}{{error.email.format}}{{error.email.duplicate}}
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-6">
                            <input type="text" class="form-control" id="Institution" formControlName="Institution" placeholder="Institution">
                            <p *ngIf="error.in !==''"><small class="text-danger">{{error.in}}</small></p>                            
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-6">
                            <input type="submit" (click)="submit()" class="btn btn-primary" value="Agree">
                        </div>
                    </div>
                    <!-- <p>Form Status: {{ newUserForm.status }}</p>
                    <p>Form value: {{ newUserForm.value | json }}</p> -->
                </form>
            </div>
        </div>
    </div>
</div>